￼￼<h1>New Grabs</h1>

<%= form_for(@climbing) do |f| %>
<table>
  <tr>
    <td>
      <%= f.select "action", [["部活", "circle"], ["闇練", "training"], ["予定", "plan"]] %>
      <%= f.collection_select(:gym_id, Gym.all, :id, :name) %>
      <%= f.submit name="arms!" %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.text_area(:comment, :size => "10x10") %>
    </td>
  </tr>
</table>

<% end %>
