
<% if current_user %>
  Welcome <%= current_user.name %>!
  <%= link_to "Sign Out", signout_path %>
<% else %>
  <%= link_to "Sign in with Twitter", "/auth/twitter" %>
<% end %>

<%= form_tag "/comment" do %>
  <%= text_area_tag "comment_val" %>
  <%= button_to "push" %>
<% end %>


<%= params["comment_val"] %>


<P>
<li> <%= link_to "placements", :placements %> </li>

<p>
