<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @placement.name %>
</p>

<p>
  <b>Latitude:</b>
  <%= @placement.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @placement.longitude %>
</p>

<ul>
  <% for location in @placement.nearbys(10) %>  
    <li><%= link_to location.name, location %> ↵  
        (<%= location.distance.to_i.round(2) %> miles)</li>  
  <% end %>  
</ul>
  
<p>
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@placement.latitude}%2C#{@placement.longitude}" %>  
</p>

<%= link_to 'Edit', edit_placement_path(@placement) %> |
<%= link_to 'Back', placements_path %>
