<h1>Listing placements</h1>

<table class="placements">

  <col class="name" />
  <col span="2" class="pos" />
  <col span="2" class="action" />

  <tr>
    <th>place</th>
    <th>latitude</th>
    <th>longitude</th>      
    <th></th>      
  </tr>
    
  <% @placements.each do |placement| %>
  <tr>
    <td><%= placement.name %></td>
    <td><%= placement.latitude %></td>
    <td><%= placement.longitude %></td>
    <td>
      <%= link_to 'Show', placement %> /
      <%= link_to 'Edit', edit_placement_path(placement) %> /
      <%= link_to 'Destroy', placement, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Placement', new_placement_path %>
