<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @placement.name %>
</p>

<p>
  <b>Latitude:</b>
  <%= @placement.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @placement.longitude %>
</p>


<%= link_to 'Edit', edit_placement_path(@placement) %> |
<%= link_to 'Back', placements_path %>
