<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @gym.name %>
</p>

<p>
  <b>Latitude:</b>
  <%= @gym.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @gym.longitude %>
</p>

<ul>
  <% for location in @gym.nearbys(10) %>  
    <li><%= link_to location.name, location %> ↵  
        (<%= location.distance.to_i.round(2) %> miles)</li>  
  <% end %>  
</ul>
  
<p>
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@gym.latitude}%2C#{@gym.longitude}" %>  
</p>

<%= link_to 'Edit', edit_gym_path(@gym) %> |
<%= link_to 'Back', gyms_path %>
