<!DOCTYPE html>
<html>
<head>
  <title>AppTkbb</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>

<body>
  <%= render "shared/header" %>
  <div class="container">
    <div class="content">
      <%= yield %>
    </div>
    <footer>
      <%= render "shared/footer" %>
    </footer>
  </div>
</body>

</html>
